<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.ch3labs.todo.mapper.TodoMapper">
    <insert id="save" parameterType="com.example.ch3labs.todo.domain.Todo" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO todos(title, completed)
        VALUES (#{title}, #{completed})
    </insert>

    <select id="findAll" resultType="com.example.ch3labs.todo.domain.Todo">
        SELECT *
        FROM todos
    </select>

    <select id="findById" parameterType="long" resultType="com.example.ch3labs.todo.domain.Todo">
        SELECT *
        FROM todos
        WHERE id = #{id}
    </select>

    <update id="update" parameterType="com.example.ch3labs.todo.domain.Todo">
        UPDATE todos
        SET title = #{title}, completed = #{completed}
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="long">
        DELETE
        FROM todos
        WHERE id = #{id}
    </delete>

    <select id="search" parameterType="com.example.ch3labs.todo.dto.TodoSearchRequest" resultType="com.example.ch3labs.todo.domain.Todo">
        SELECT *
        FROM todos
        <where>
            <if test="keyword != null and keyword != ''">
                (title LIKE CONCAT('%', #{keyword}, '%'))
            </if>
        </where>
        LIMIT #{size}
        OFFSET #{offset}
    </select>
</mapper>